{% extends "side-left.html" | layout %}
{% block main %}
    <article class="article main__content">
        <header>
            <h1 class="article__title">Conferences</h1>
        </header>

        <p><a href="http://lanyrd.com/profile/martin_sachse/" target="_blank">Lanyrd-Profile</a></p>

        <ol reversed>
            <li>
                <h2>2016</h2>

                <ol reversed>
                    <li><a href="http://nordicjs.com/" target="_blank">Nordic.js</a></li>
                    <li><a href="http://jsconfbp.com/" target="_blank">JSConf Budapest</a></li>
                    <li><a href="http://cssconfbp.rocks/" target="_blank">CSSconf Budapest</a></li>
                </ol>
            </li>
            <li>
                <h2>2015</h2>

                <ol reversed>
                    <li><a href="http://2015.cssconf.eu/" target="_blank">CSSconf EU</a></li>
                    <li><a href="http://2015.jsconf.eu/" target="_blank">JSConf EU</a></li>
                    <li><a href="http://rejectjs.org/" target="_blank">Reject JS</a></li>
                    <li><a href="http://www.typo3camp-berlin.de/" target="_blank">Typo3-Camp</a></li>
                    <li><a href="http://mobilecamp.de/" target="_blank">Mobilecamp</a></li>
                    <li><a href="http://2015.front-trends.com/" target="_blank">Front-Trends</a></li>
                </ol>
            </li>
            <li>
                <h2>2015</h2>

                <ol reversed>
                    <li><a href="http://2015.cssconf.eu/" target="_blank">CSSconf EU</a></li>
                    <li><a href="http://2015.jsconf.eu/" target="_blank">JSConf EU</a></li>
                    <li><a href="http://rejectjs.org/" target="_blank">Reject JS</a></li>
                    <li><a href="http://www.typo3camp-berlin.de/" target="_blank">Typo3-Camp</a></li>
                    <li><a href="http://mobilecamp.de/" target="_blank">Mobilecamp</a></li>
                    <li><a href="http://2015.front-trends.com/" target="_blank">Front-Trends</a></li>
                </ol>
            </li>
            <li>
                <h2>2014</h2>

                <ol reversed>
                    <li><a href="http://2014.jsconf.eu/" target="_blank">JSConf EU</a></li>
                    <li><a href="http://2014.cssconf.eu/" target="_blank">CSSconf EU</a></li>
                    <li><a href="http://2014.rejectjs.org/" target="_blank">Reject JS</a></li>
                    <li><a href="http://mobilecamp.de/" target="_blank">Mobilecamp</a></li>
                    <li><a href="http://front-trends.com/" target="_blank">Front-Trends</a></li>
                    <li><a href="http://2014.jsunconf.eu/" target="_blank">JS Unconf</a></li>
                    <li><a href="http://environmentsforhumans.com/2015/responsive-web-design-summit/">RWD Summit</a></li>
                </ol>
            </li>
            <li>
                <h2>2013</h2>

                <ol reversed>
                    <li><a href="http://environmentsforhumans.com/2013/accessibility-summit/#.Vk-Zy6krKEL" target="_blank">Accessibility Summit</a></li>
                    <li><a href="http://environmentsforhumans.com/2013/css-summit/">CSS Summit</a></li>
                    <li><a href="http://mobilecamp.de/" target="_blank">Mobilecamp</a></li>
                    <li><a href="http://front-trends.com/" target="_blank">Front-Trends</a></li>
                </ol>
            </li>
        </ol>
    </article>
{% endblock %}

{% block side %}{% endblock %}
