{% extends "side-left.html" | layout %}
{% block main %}
    <article class="article main__content">
        <header>
            <h1 class="article__title">Meetups</h1>
        </header>

        <p><a href="http://www.meetup.com/members/109026402/" target="_blank">Meetup-Profile</a></p>

        <ol>
            <li><a href="http://www.meetup.com/wdcm-dresden/" target="_blank">WDCM Dresden (since 11/2014)</a></li>
            <li><a href="http://www.meetup.com/dresdenjs-io-javascript-user-group/" target="_blank">DresdenJS (since 10/2015)</a></li>
            <li><a href="http://www.meetup.com/docker-dresden/" target="_blank">Docker@Dresden (since 11/2015)</a></li>
        </ol>
    </article>
{% endblock %}

{% block side %}{% endblock %}
