<style>
    body {
        font: caption;
    }

    html,
    body,
    .logo-container {
        width:100%;
        height:100%;
        margin:0
    }

    .logo-container {
        display:block;
        background-image:linear-gradient(135deg,#F6F6F6,#F6F6F6 25%,#F3DF49 25%,#F3DF49 50%,#7DBF38 50%,#7DBF38 75%,#E2007A 75%,#E2007A 100%);
        }

    .logo {
        display:block;
        width:auto;
        height:90%;
        margin:0 auto;
        position:relative;
        top:5%
    }
</style>
