/* coolors.co/171717-f6f6f6-f3df49-7dbf38-e2007a */

$dark: #171717; //rgba(23, 23, 23, 100)
$light: #fafafa; //rgba(246, 246, 246, 100)
$js: #f3df49; //rgba(243, 223, 73, 100)
$node: #7dbf38; //rgba(125, 191, 56, 100)
$jsconf: #e2007a; //rgba(226, 0, 122, 100)
