@media screen and (min-width: 1024px) {
    .side-left {
        display: flex;
        align-items: stretch;

        .main,
        .side {
            flex-grow: 1;
        }

        .main {
            flex-basis: 66.666%;
            order: 2;
        }

        .side {
            flex-basis: 33.333%;
            order: 1;
        }

        .side-content {
            max-width: 320px;
            margin-left: auto;
        }
    }
}
