<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="mask-icon" href="/favicon.svg" color="#171717">
        <link rel='manifest' href='/manifest.json'>
        <!--<link href='//fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="sprite">{% include "sprite.svg" | partial %}</div>
        {% from ("icon.html" | partial) import icon %}
        {% include "header.html" | partial %}
        {% block content %}{% endblock %}
        {% block scripts %}<script src="/js/main.js"></script>{% endblock %}
    </body>
</html>
