{% extends "base.html" | layout %}
{% block content %}
<a class="logo-container" href="https://github.com/jsfi">
    <svg class="logo" viewBox="0 0 894 886" xmlns="http://www.w3.org/2000/svg"><title>JSFi.io</title><g font-family="Cousine" fill="#171717"><text font-size="500" transform="translate(-95 -83)"><tspan x="0" y="604">[</tspan></text><text font-size="500" transform="translate(-95 -83)"><tspan x="138" y="604">{</tspan></text><text font-size="220" transform="translate(-95 -83)"><tspan x="77.925" y="966">JSFi.io</tspan></text><text transform="rotate(90 538.5 62)" font-size="500"><tspan x="394" y="284">(</tspan></text><text transform="rotate(-90 449.4 235.5)" font-size="221"><tspan x="471.9" y="288.5">)</tspan></text><text font-size="500" transform="translate(-95 -83)"><tspan x="643" y="604">}</tspan></text><text font-size="500" transform="translate(-95 -83)"><tspan x="781" y="604">]</tspan></text></g></svg>
</a>
{% endblock %}
